.container {
  width: 50%;
  max-width: 500px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  cursor: pointer;
  overflow: hidden;
  transition: max-height 0.3s ease;
  max-height: 80px;
}

.container.expanded {
  max-height: 500px;
  background-color: #b3d2f0;
}

.container-header {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.container-header img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 28px;
  height: auto;
  width: 95%;
  max-width: 500px;
  max-height: 500px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #2196f3 #f0f0f0;
}

.form-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.expanded .form-container {
  display: flex;
}

.App.dark-mode .form-container {
  background-color: #3f5168;
  color: #f0f0f0;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  margin-right: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-textarea {
  height: 150px;
  resize: none;
}

.App.dark-mode .form-input,
.App.dark-mode .form-textarea {
  background-color: #212836;
  border-color: #ffffff;
  color: #ffffff;
}

.form-button {
  background-color: #3a5d80;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #0c7cd5;
}

.App.dark-mode .form-button {
  background-color: #262b38;
  color: #f0f0f0;
}

.App.dark-mode .form-button:hover {
  background-color: #555;
}

@media only screen and (max-width: 768px) {
  /* Estilos para pantallas más pequeñas, como teléfonos móviles */
  .container {
    width: 90%;
    margin: 10px;
  }

  .form-container {
    padding: 20px;
  }

  .form-input,
  .form-textarea {
    font-size: 14px;
  }

  .form-textarea {
    height: 120px;
  }

  .form-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media only screen and (max-width: 480px) {
  /* Estilos para pantallas aún más pequeñas */
  .form-input,
  .form-textarea {
    font-size: 12px;
  }

  .form-textarea {
    height: 100px;
  }
}